<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>indexPaciente.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CadastroLoginServlet</servlet-name>
        <servlet-class>br.com.login.CadastroLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarPaciente</servlet-name>
        <servlet-class>com.bean.ServletCadastrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginPaciente</servlet-name>
        <servlet-class>com.bean.ServletLoginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarPaciente</servlet-name>
        <servlet-class>com.bean.ServletEditarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastroLoginPaciente</servlet-name>
        <servlet-class>com.bean.ServletCadastroLoginPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletarPaciente</servlet-name>
        <servlet-class>com.bean.ServletDeletarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarTriagem</servlet-name>
        <servlet-class>com.bean.ServletIniciarAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIniciarAtendimento</servlet-name>
        <servlet-class>com.bean.ServletIniciarAtendimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtualizarTriagem</servlet-name>
        <servlet-class>com.bean.ServletAtualizarTriagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletarTriagem</servlet-name>
        <servlet-class>com.bean.ServletDeletarTriagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginAvaliacao</servlet-name>
        <servlet-class>com.bean.ServletLoginAvaliacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAvaliacaoFinal</servlet-name>
        <servlet-class>com.bean.ServletAvaliacaoFinal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroLoginServlet</servlet-name>
        <url-pattern>/CadastroLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarPaciente</servlet-name>
        <url-pattern>/ServletCadastrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginPaciente</servlet-name>
        <url-pattern>/ServletLoginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarPaciente</servlet-name>
        <url-pattern>/ServletEditarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastroLoginPaciente</servlet-name>
        <url-pattern>/ServletCadastroLoginPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletarPaciente</servlet-name>
        <url-pattern>/ServletDeletarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarTriagem</servlet-name>
        <url-pattern>/ServletCadastrarTriagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIniciarAtendimento</servlet-name>
        <url-pattern>/ServletIniciarAtendimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtualizarTriagem</servlet-name>
        <url-pattern>/ServletAtualizarTriagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletarTriagem</servlet-name>
        <url-pattern>/ServletDeletarTriagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginAvaliacao</servlet-name>
        <url-pattern>/ServletLoginAvaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAvaliacaoFinal</servlet-name>
        <url-pattern>/ServletAvaliacaoFinal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
